language: csharp
mono: none
dotnet: 2.1.502
addons:
  sonarcloud:
    organization: "kv"
before_install:
- bash ./.tools/travis-ci-install-sonar.sh
install:
- dotnet restore
script:
- bash ./.tools/travis-ci-build.sh
